.object {
  position: relative;
  /* width: 20rem;
  height: 5rem; */
  border-radius: 10px;
  background-color: #ddd;
  cursor: grab;
  user-select: none;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: rotateX(60deg) rotateY(30deg) translateZ(10px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* or any height you want */
}